@font-face {
    font-family: "roboto";
    src: url(../../../assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: "roboto-light";
    src: url(../../../assets/fonts/Roboto/Roboto-Light.ttf);
}