.home-articles {
    h2 {
        margin-top: 0px!important;
    }
}

.wrapper {
    width: 100%;
    justify-content: space-around;
    .card {
        width: 250px!important;
        height: 360px;
        border-radius: 15px;
        margin: 20px 5px;
        padding: 1.5rem;
        background: $white-color;
        position: relative;
        display: flex;
        align-items: flex-end;
        transition: 0.4s ease-out;
        box-shadow: 0px 7px 10px rgba($black-color, 0.5);
        &:hover {
            transform: translateY(20px);
            &:before {
                opacity: 1;
            }
            .info {
                opacity: 1;
                transform: translateY(50px);
            }
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            background: rgba($black-color, 0.6);
            z-index: 2;
            transition: 0.5s;
            opacity: 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 15px;
        }
        .info {
            position: relative;
            z-index: 3;
            color: $white-color;
            opacity: 0;
            transform: translateY(80px);
            transition: 0.5s;
            h1 {
                margin: 0px;
            }
            p {
                letter-spacing: 1px;
                font-size: 15px;
                margin-top: 8px;
            }
            button {
                color: $yellow-color!important;
                font-weight: bold;
                cursor: pointer;
                transition: 0.4s ease;
            }
        }
    }
}